*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    background-color:#f5f5f5;
    font-family: Arial, sans-serif;
}

.main{
    gap:1px;
    margin:15px auto;
    display: flex;
    justify-content: center;
}
.column{
    background-color: #f0f0f0;
    border: solid 0.2px rgb(216, 215, 215);
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    align-items: center;
}
.column--enter{
    background-color: #ececff;
    border:dotted 0.2px #81cefa;
}
header{
    width:100%;
    background-color: #d1d1d1;
    min-height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#555;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    position: sticky;
    top:0px;
    margin-bottom: 12px;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 260px;
    height: 120px;
    margin: 5px auto;
    border-left: 5px solid #F9E79F; /* cor padrão: pendente */
    justify-content:space-around;
  }
  .card h2 {
    margin-top: 0;
    font-size: 0.9em;
    color: #333;
    font-family: Arial, sans-serif;
    display: block;
  }
  .card.concluida {
    border-left-color: #A9DFBF;
  }

  .card.andamento {
    border-left-color: #AED6F1;
  }

.status {
    width: fit-content;
    padding: 5px 6px;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: bold;
    color: #555;
    background-color: #F9E79F; /* cor padrão: pendente */
  }
  .card.andamento>.status{
      background-color: #AED6F1;
    }
  .card.concluida>.status{
    background-color: #A9DFBF;
  }
.created-at {
    font-size: 0.8em;
    color: #999;
  }
  .card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

  

#col1 header{ background-color:#F9E79F;}
#col2 header{background-color: #AED6F1;}
#col3 header{background-color: #A9DFBF;}