:root{
    --color-pendente:#ffa500;
    --color-andamento: #1e90ff;
    --color-concluida: #32cd32;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    background-color:#f5f5f5;
    font-family: Arial, sans-serif;
}

.main{
    gap:0px;
    margin:15px auto;
    display: flex;
    justify-content: center;
}
.column{
    background-color: #f0f0f0;
    border: solid 0.2px rgb(216, 215, 215);
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    align-items: center;
}
.column--enter{
    background-color: #ececff;
    border:dotted 0.2px #81cefa;
}
header{
    width:100%;
    background-color: #fff;
    min-height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    position: sticky;
    top:0px;
    margin-bottom:0px;
}
header:not(.pendente)::before{
    position: absolute;
    left:0;
    content: '';
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent; 
    border-left: 18px solid var(--color-concluida);
  }
  header.andamento::before{
    border-left: 18px solid var(--color-pendente);
  }
  header.concluida::before{
    border-left: 18px solid var(--color-andamento);
  }

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 260px;
    height: 120px;
    margin: 5px auto;
    border-left: 5px solid var(--color-pendente); /* cor padrão: pendente */
    justify-content:space-around;
  }
  .divTitulo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:5px;
    border-bottom: #c3c3c3 solid 0.2px;
  }
.titulo-texto {
    gap:5px;
    display: flex;
    align-items: center;
    margin-top: 0;
    font-size: 0.9em;
    color: #555;
    font-weight: bold;
    line-height: 1rem;
  }
.icon{
    color:#b4c2cf
  }
  .card.concluida {
    border-left-color: var(--color-concluida);
  }

  .card.andamento {
    border-left-color: var(--color-andamento);
  }

.status {
    width: fit-content;
    padding: 5px 6px;
    border-radius: 20px;
    font-size: 0.7em;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-pendente); /* cor padrão: pendente */
  }
  .card.andamento>.status{
      background-color: var(--color-andamento);
    }
  .card.concluida>.status{
    background-color: var(--color-concluida);
  }
.created-at {
    font-size: 0.8em;
    color: #999;
  }
  .card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

  
 header.pendente{ background-color: var(--color-pendente);}
 header.andamento{background-color: var(--color-andamento);}
header.concluida{background-color: var(--color-concluida);}

a{
  text-decoration: none;
}