*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    gap:5px;
}
.column{
    background-color: #f0f0f0;
    border: solid 0.2px rgb(216, 215, 215);
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.column--enter{
    background-color: #ececff;
    border:dotted 0.2px #81cefa;
}
header{
    width:100%;
    background-color: #d1d1d1;
    min-height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#555;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    position: sticky;
    top:0px;
    margin-bottom: 10x;

}

.card{
    background-color: rgb(233, 233, 233);
    border: solid 1px rgb(211, 211, 211);
    width: 270px;
    min-height: 80px;
    border-radius: 5px;
    margin:5px 0 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
}

  
#col1 header{ background-color:#ccfa81;}
#col2 header{background-color: #81cefa;}
#col3 header{background-color: #81faaf;}